<footer>
    <div class="container footer-container">
        <div >
            <a href="#" class="logo_footer">Spotless</a><br> <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima cupiditate, 
                labore quam quisquam modi ex ipsa quasi laboriosam tempore eveniet fugit voluptatibus 
                repudiandae esse, officiis laborum sunt provident itaque.</p>
        </div>

        <div>
            <h4>Links</h4>
            <ul class="links">
            <li><a href="NG.School.html">Home</a></li>
            <li><a href="about.html">Services</a></li>
            <li><a href="#jump3">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>

        <div>
            <h4>Contact</h4>
            <div>
                <p class="links">Email : exemple@gmail.com </p><br>
                <p class="links">Phone : +233 14 504 5093</p>
            </div>
        </div>
    </div>

    <div>
        <div class="newsletter-container">
            <h3>Newsletter</h3>
            <form action="#" method="post" class="newsletter-form">
                <input type="email" name="email" placeholder="Your email address" required>
                <button type="submit" class="N_btn">Subscribe</button>
            </form>
        </div>
    </div>

    
   <div class="footer-copyright">
   <small> 2023© Copyright by Posh Clean. All Rights reserved.</small>
   </div>
   
</footer>