body{
    overflow-x: hidden;
}
/* Header and Nav*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* add header banner image */
#header {
    background-image: url("../images/123_1200x1200.webp");
}

.active{
    background-color: #3498db;
    color: white;
}

.main{
    width: 100vw;
    min-height: 100vh;
}
.hero{
    width: 100%;
    position: relative;
    background-image: url('../image/cleaning-items-900x500.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.overlay{
    position: absolute;
    width: calc(100% - 4rem);
    top: 0;
    left: 0;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0, 0, 0.3);
    gap: 1.5rem;
    padding-left: 4rem;
}

.hero-head{
    font-weight: 700;
}
.hero-text{
    margin-left: auto;
    max-width: 650px;
    text-align: justify;
}

.left-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-intro{
    padding: 0 2rem;
    color: #808080;
    max-width: 720px;
}
.intro-section{
    margin: 1rem 0;
}

.intro{
    display: flex;
    margin: 2rem auto;
    width: fit-content;
}

.intro-head{
    color: #3498db;
    font-size: 24pt;
    font-size: xx-large;
    margin-bottom: 1rem;
}
.intro-img{
    border-radius: 50%;
    max-width: 15em;
    align-self: flex-start;
    overflow: hidden;
}
.intro-img:hover img{
    scale: 1.2;
}
.testimonials{
    background-color:#d9d9d9;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: max-content;
    transition: 0.3s ease;

}
.text-center{
    text-align: center;
}
.view-all{
    outline: 0;
    border: 0;
    padding: 0.75em 1.25em;
    border-radius: 0.25rem;
    min-width: 10em;
    width: max-content;
    margin: 0 auto;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: large;
}
.view-all:hover{
    background-color: white;
    color: #3498db;
}
.testimonial-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 1rem;
    place-items: center;
    height: 230px;
    overflow-y: hidden;
    transition: 0.3s ease;
    gap: 2em 1.5em;
    max-width: 1020px;
    margin: auto;
}
.testimonial-card{
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
    background-color: #e2dfeb;
    width: 280px;
    transition: 0.5s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.testimonial-card:hover{
    scale: 1.05;
}
.top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-card{
    color: gray;
}
.profile-pic{
    background-color: #d9d9d9;
    border-radius: 50%;
    padding: 1rem;
    font-weight: bold;    
}
.team-section{
    padding: 2rem;
}
.team-left, .team-right{
    max-width: 720px;
}
.team-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: gray;
    flex: 2 1 320px;
}

.team-member{
    padding: 0.75em 1em;
    background-color: #f7f7f7;
}

.team-member:hover{
    box-shadow: 0 0 5px 0 lightgrey,  0 0 3px #5a5a5a;
}

.team-left p{
    width: 90%;
}
.team{
    display: flex;
    margin-top: 1rem;
    gap: 1em;
    max-width: 1020px;
    margin: auto;
}
.team-right{
    border-radius: 2rem;
    flex: 1 1 320px;
}

@media (max-width: 1024px) {
    .intro, .team{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .team{
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .testimonial-cards{
        grid-template-columns: repeat(1,1fr);
    }

    .team-section{
        padding: 2em 1em;
    }
}