/* header banner image */
#header {
    background-image: url("../images/123_1200x1200.webp");
}

/* main content */
main{
    min-height: calc(100vh - 6em);
    max-width: 1020px;
    margin: auto;
}

main .wrapper{
    display: flex;
}

.wrapper > *{
    flex: 1 1 320px;
}

/* The contact and contact cards */
#content{
    background: rgb(52,152,219);
    background: linear-gradient(to top left, rgba(255,255,255,1) 0%, rgba(189,195,199,1) 30%, rgba(52,152,219,1) 55%);
    min-height: 70vh;
    position: relative;
    padding: 1em;
}

#content h2{
    font-size: 2.5em;
    font-weight: bolder;
}
.contacts{
    display: flex;
    position: absolute;
    width: 70vw;
    max-width: 800px;
    bottom: 2em;
}

.contacts .contact-card{
    flex: 1 1 200px;
    background-color: white;
    padding: 1em;
    margin: 0.5em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: thin solid lightgrey;
    box-shadow: 0 0 0.15em 0 var(--secondary), 0 0 0.35em 0 #efefef;
}

.contact-card .body p{
    font-size: small;
}

.foot button{
    width: 100%;
    background-color: var(--primary);
    color: white;
    box-shadow: 1px 1px 2px 1px var(--secondary);

}

.foot button:hover{
    box-shadow: 0 0 5px 0 var(--secondary);
}

.icon img{
    width: 70px; height: 70px;
}

/* the modal box */
#modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    background-color: rgba(30,30,30,0.75);
    overflow: auto;
    justify-content: center;
    width: 100%;
    padding: 1em;
    z-index: 20;
}

#modal form{
    background-color: white;
    padding: 1em 2em;
    border-radius: 0.25em;
    text-align: center;
    max-width: 750px;
    margin: auto 0.5em;
    position: relative;
}

#modal form .form{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.form-element{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5em;
}

input, textarea{
    padding: 0.75em 1em;
    border: thin solid lightgrey;
}

input:active, input:focus, textarea:active, textarea:focus{
    border: thin solid grey;
    outline: unset;
}

textarea{
    min-height: 6em;
}

#close_btn{
    position: absolute;
    display: flex;
    right: 1.8em;
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;
}

#close_btn span{
    display: block;
    background-color: #222;
    width: 1em;
    height: 2px;
    position: absolute;
    top: 0.45em;
}

#close_btn span:first-child{
    transform: rotate(45deg);
}

#close_btn span:last-child{
    transform: rotate(-45deg);
}

/* map */
#map{
    height: 40vh;
    border: thin solid;
    margin-top: 1em;
}

@media screen and (max-width: 768px){
    #image{
        display: none;
    }

    .contacts{
        position: initial;
        width: auto;
        flex-wrap: wrap;
    }

    #content{
        background-image: url("../image/img1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 85vh;
    }
}