/* Header and Nav*/

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url("assets/images/123_1200x1200.webp"); */
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
    top: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}



nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3498db;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text .btn {
    margin-right: 150px;
}

/* header buttons */

.btn {
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid #3498db;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    background-color: #3498db;
    margin-right: 360px;
    font-weight: bold;
    border-radius: 1.5rem;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #fff;
    color: #3498db;
}

.btn_2 {
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid #3498db;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    background-color: #3498db;
    margin-right: 420px;
    font-weight: bold;
    border-radius: 1.5rem;
    font-size: 1.3rem;
}

.btn_2:hover {
    background-color: #fff;
    color: #3498db;
}

.btn_3 {
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid #3498db;
    padding: 7px 25px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    background-color: #3498db;
    margin-right: 420px;
    font-weight: bold;
    border-radius: 1.5rem;
    font-size: 1rem;
}

.btn_3:hover {
    background-color: #fff;
    color: #3498db;
}

.btn_4 {
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid #3498db;
    padding: 7px 25px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    background-color: #3498db;
    margin-right: 470px;
    font-weight: bold;
    border-radius: 1.5rem;
    font-size: 1rem;
}

.btn_4:hover {
    background-color: #fff;
    color: #3498db;
}

nav .fa-solid {
    display: none;
}

/* responsive part */

@media screen and (max-width: 1024px) {

    #header {
        height: 70vh;
    }


   .btn_2 {
        margin-right: 280px;
        margin-top: 50px;
    }
  
  }

  @media screen and (max-width: 992px)  {
    .container {
        max-width: 740px;
    }
    #header {
        height: 60vh;
    }
  }



@media screen and (max-width: 768px) {

   
.container {
    max-width: 540px;
}

    #header {
        height: 70vh;
    }

  .header-text {
    margin-top: 20%;
    font-size: 15px;
    color: #fff;

  
}

  .header-text h1 {
    font-size: 25px;
    text-align: center;
  
  }


.header-text .btn {
    margin-right: 50px;
    margin-top: 50px;
}

nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #fff;

}

nav ul {
    background: #3498db;
    position: fixed;
    top: 0;
    right: -80%;
    width: 200px;
    height: 50vh;
    border-radius: 12px;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    display: block;
    margin: 25px;
}

nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;

}

.btn_2 {
    margin-right: 50px;
    margin-top: 50px;
}

}


