
.header{
    width: 100vw;
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    left: 0;
    z-index: 10;
    justify-content: space-evenly;
    color: white;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-link{
    background-color: white;
    color: #3498db;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease;
}
.logo{
    width: 100px;
}
.logo:hover{
    scale: 1.04;
}
.nav-link{
    background-color: transparent;
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: #3498db;
}
.active{
    background-color: #3498db;
    color: white;
}

a{
    text-decoration: none;
}
.main{
    width: 100vw;
    min-height: 100vh;
}

.hero{
    width: 100%;
    position: relative;
    background-image: url('../image/diamond-shine-cleaning-services-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.overlay{
    position: absolute;
    width: calc(100% - 4rem);
    top: 0;
    left: 0;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background: rgba(0,0, 0, 0.3);
    gap: 1.5rem;
    padding-left: 4rem;
}
.hero-text{
    font-weight: bold;
    font-size: 3rem;
    width: 30rem;
    padding-right: 4rem;
}
.services{
    padding: 1rem 2rem;
    background-color: #d9d9d9;
}
.services-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    color: white;
    gap: 2rem 1rem;
    text-align: center;
}
.text-center{
    text-align: center;
}
.services-card{
    padding: 1rem 2rem;
    color: gray;
    background-color: white;
    border-radius: 1.5rem;
    width: 250px;
    cursor: pointer;
}
.services-card img{
    border-radius: 1rem;
    transition: 0.3s ease;

}
.services-card:hover img{
    filter: brightness(85%);
}
.services-card-head{
    margin-bottom: 1rem;
}
.services-head{
    color: #3498db;
    margin-bottom: 2rem;
    text-align: center;
}


