@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("../image/123_1200x1200.webp");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text .btn {
    margin-right: 150px;
}

a {
    text-decoration: none;
  }


/* About */
#about {
    padding: 50px 0;
    color: #fff;
    background-color: #ada3a3;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 60%;
}

.about-col-2 {
    flex-basis: 35%;
}
.about-col-2 img {
    width: 100%;
    border-radius: 15px;
}

.about-sub{
    margin: 0.5em auto;
}

.about-sub ul *{
    color: #646464 !important;
}

.about-sub ul li{
    margin: 0.5em auto;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-1 p {
    color: #646464;
}

/* */

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.service img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

#services {
    background-image: url("../image/imagesss.jpg");
    padding: -20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#services .sub-title {
    color: blue;
    text-align: center;
}

.content {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(106, 106, 226));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition:  height 0.5s;

}

.content h3 {
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.service:hover img {
    transform: scale(1.1);
}

.service:hover .content {
    height: 100%;
}

.btn {
    display: block;
    margin: 25px auto;
    width: fit-content;
    border: 1px solid blue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    background-color: blue;
    color: hsl(0, 0%, 100%);
}

.btn:hover {
    background-color: transparent;
    color: blue;
}

/* Testimonial */

.testimonials {
    padding: 50px 0;
    background-color: #f3f2f2;
}

.testimonials .sub-title {
    color: rgb(202, 199, 199);
}

.testimonials h2 {
    color: #3498db ;
    font-size: 3rem;
}

.testimonial-col-1 {
    flex-basis: 60%;
}

.testimonial-col-2 {
    flex-basis: 35%;
}

.text-center{
    text-align: center;
}
.testimonial-cards{
    display: grid;
    padding: 0.5rem 1rem;
    place-items: center;
    height: 230px;
    overflow-y: hidden;
    transition: 0.3s ease;
    gap: 2rem 1rem;
}
.testimonial-card{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 2rem;
    background-color: #e2dfeb;
    width: 280px;
    height: auto;
    transition: 0.5s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.testimonial-card:hover{
    scale: 1.05;
}
.top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-card{
    color: gray;
}
.profile-pic{
    background-color: #d9d9d9;
    border-radius: 50%;
    padding: 1rem;
    font-weight: bold;    
}